{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Challenge Project</h1>
    <p>This is the index page for the challenge project. Basically, this app contain 2 methods:<br/>
  * receive call records;<br/>
  * output billing of call records;<br/>
<br/></p>
    <a type="button" class="btn btn-lg btn-primary" href="https://bitbucket.org/rpinheiro/challenge/src/master/"><span class="glyphicon glyphicon-download"></span> Source on bitbucket</a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Receive call records <br/></h3>
      <p>Receive call records in 2 json formats. First:</p>

       <code>
         {<br/>
         "data":[<br/>
         {<br/>
            "id":  // Record unique identificator;<br/>
            "type":  // Indicate if it's a call "start" or "end" record; (0 - start / 1 - end)<br/>
            "timestamp":  // The timestamp of when the event occured;<br/>
            "call_id":  // Unique for each call record pair;<br/>
            "source":  // The subscriber phone number that originated the call;<br/>
            "destination":  // The phone number receiving the call.<br/>
      }<br/>
   ]<br/>
}
         </code>
<br/>
      <p>Second:</p>

<code>
      {<br/>
   "data":[<br/>
        {<br/>
            "id":  // Record unique identificator;<br/>
            "type":  // Indicate if it's a call "start" or "end" record; (0 - start / 1 - end)<br/>
            "timestamp":  // The timestamp of when the event occured;<br/>
            "call_id":  // Unique for each call record pair.<br/>
        }<br/>
    ]<br/>
}
</code>
<br>
<br>
You need to post the data to <a href="https://dry-dusk-63310.herokuapp.com/receivecall/">https://dry-dusk-63310.herokuapp.com/receivecall/</a><br/>
<br>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Billing Call Records</h3>
      The second method, output the billing records. So, first, you have to post data to
      <a href="https://dry-dusk-63310.herokuapp.com/billing/">https://dry-dusk-63310.herokuapp.com/billing/</a> like :<br/>

      <code>
{<br/>
    "subscriber": "",<br/>
    "period_month": null,<br/>
    "period_year": null<br/>
}

      </code>

      <p>You will receive a json with a list of all calls and the value of each one.</p>
  </div> <!-- row -->

  </div>
</div>
{% endblock %}
